* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding-top: 300px;
}

#header {
  position: fixed;
  top: 0;
  width: 300px;
}

#nav-bar {
  position: fixed;
  top: 0;
  margin-left: 1000px;
}

.nav-link {
  text-decoration: none;
  margin-right: 30px;
}


/* @media only screen and (max-width: 768px) {
  body {
    background-color: red;
  }
} */
